**/__pycache__
**/.DS_Store
tmp
**/nohup.out
**/out
**/keys
/note.txt
/deepseek-ai/
/Qwen/
/run_outputs
/test_outputs
/mistralai/
data/GSM8K/test_all.json
data/
prompts/GSM8K
prompts/GSM8KHARD
prompts/MATH
prompts/MULTIARITHgi