**/__pycache__
**/.DS_Store
tmp
**/nohup.out
**/out
**/keys
/note.txt
/deepseek-ai/
/Qwen/
/run_outputs
/test_outputs
/mistralai/
prompts/GSM8K
prompts/GSM8KHARD
prompts/MATH
prompts/MULTIARITHgi
chosen_data.json
dpo_data.json
rejected_data.json
test.ipynb
