**/__pycache__
**/.DS_Store
tmp
**/nohup.out
**/out
**/keys
/note.txt
/deepseek-ai/
/Qwen/
/run_outputs
/run_baseline
/test_outputs
/mistralai/
/prompts/GSM8K
prompts/GSM8KHARD
prompts/MATH
prompts/MULTIARITH
prompts/STG
prompts/SVAMP
prompts/MBPPPLUS
chosen_data.json
dpo_data.json
rejected_data.json
test.ipynb
data/TACO/self_create_data.json
eval_src/tempCodeRunnerFile.py
eval_src/testing_util copy.py
eval_src/testing_util_yxsx.py
models/eval_vllm_paralle.py
models/vllm_server_start.sh
prompts/TACO/data_qwen_test.py
